<%- include('../layouts/header') %>


<!-- main in strted from here  -->
<section class="section">
  <div class="container section-container">

    <div class="header">
      <h1>MADINA PUBLIC SCHOOL </h1>
      <span>Welcome Administrator</span>
    </div>

    <div class="cards-adm flex w-100 item-center justify-around flex-wrap" style="gap: 10px;">


      <div style="width: 350px; height:auto;padding:10px; border-radius:7px; background:#a32727; color:white; text-align:center; cursor:pointer;" class="card-adm flex flex-col">
        <h1 style="margin: 1rem auto; color: white;">New Teacher Applies </h1>
        <h3>New AppliesL: counter </h3>
      </div>

      <div style="width: 350px; height:auto;padding:10px; border-radius:7px; background:#a32727; color:white; text-align:center; cursor:pointer;" class="card-adm flex flex-col">
        <h1 style="margin: 1rem auto; color: white;">Student Addmissions</h1>
        <h3>New Addmissions: counter </h3>
      </div>

      <div style="width: 350px; height:auto;padding:10px; border-radius:7px; background:#a32727; color:white; text-align:center; cursor:pointer;" class="card-adm flex flex-col">
        <h1 style="margin: 1rem auto; color: white;">Requests For Administration</h1>
        <h3>Total : counter</h3>
      </div>

      
    </div>

  </div>
</section>
<!-- main in ended from here  -->
<%- include('../layouts/footer') %>



<script src="/assets/js/all.js"></script>


<!-- typedjs animation library cdn -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->


<script src="/assets/js/main.js"></script>




</body>

</html>