<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- fontawesome icons css  -->
  <link rel="stylesheet" href="/assets/css/all.css">

  <!-- aos animation libarary css cdn  -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->

  <!-- website styleshet  -->
  <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>
  <header style="background: linear-gradient(278deg, #1e608c, #001f35);">
    <div class="container">
      <div class="logo">
        <img src="/logo0.png" alt="ghazna school logo " style="cursor: pointer;" onclick="document.location.href = '/'">
      </div>
      <!-- dashboard navbar  -->
      <div class="dashboard-nav">
        <ul>
          <li><a href="/teacher/profile"><span><i class="fa fa-user"></i> Profile</span></a></li>
          <li><a href="/teacher/account/info"><span><i class="fa fa-edit"></i> Your Info </span></a></li>
          <li><a href="/teacher/logout/"><span><i class="fa fa-sign-out"></i>Logout</span></a></li>
        </ul>
      </div>
    </div>
  </header>




  <main>