

</main>



<footer>
    <div class="container">
        <div class="row flex item-center justify-around flex-wrap">
            <div class="col text-center" >
                <img src="./logo.png" alt="">
                <h4>Ghazna School M System </h4>
                <p>At Madina Public High School, we ignite the flames of knowledge, nurturing the leaders and innovators of tomorrow.</p>
            </div>
            <div class="col text-center" >
                <h3 class="text-center w-full "> Popular links </h3>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Our Mission </a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col text-center" >
                <h3 class="text-center w-full ">Works </h3>
                <ul>
                    <li><a href="#">Teachers</a></li>
                    <li><a href="#">Branches</a></li>
                    <li><a href="#">Announcements</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </div>

            <div class="col text-center" >
                <h3 class="text-center w-full ">For Public </h3>
                <ul>
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Apply</a></li>
                    <li><a href="#">Addmission </a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </div>
        </div>
        <p class="text-center">Copyright&copy; All Right Reserved <a href="#">ghazna.com</a> 2023 </p>
    </div>
</footer>

<script src="./assets/js/all.js"></script>


<!-- typedjs animation library cdn -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->


<script src="./assets/js/main.js"></script>
</body>

</html>