

</main>



<footer>
    <div class="container">
        <div class="row flex item-center justify-around flex-wrap">
            <div class="col text-center">
                <img src="/logo.png" alt="GSMS LOGO" onclick="window.location.reload()" style="cursor: pointer;">
                <h4>Ghazna School M System </h4>
                <p>At Madina Public High School, we ignite the flames of knowledge, nurturing the leaders and innovators of tomorrow.</p>
            </div>
            <div class="col text-center" >
                <h3 class="text-center w-full "> Popular links </h3>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/ourmission">Our Mission </a></li>
                    <li><a href="/ourstory">Our Story</a></li>
                    <li><a href="/contactus">Contact</a></li>
                </ul>
            </div>
            <div class="col text-center" >
                <h3 class="text-center w-full ">Works </h3>
                <ul>
                    <li><a href="/ourgallery#teachers">Teachers</a></li>
                    <li><a href="#">Branches</a></li>
                    <li><a href="#">Announcements</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </div>

            <div class="col text-center" >
                <h3 class="text-center w-full ">For Public </h3>
                <ul>
                    <li><a href="#">Apply</a></li>
                    <li><a href="/student/login">Login</a></li>
                    <li><a href="/student/create">Addmission </a></li>
                    <li><a href="/student/profile">Account</a></li>
                </ul>
            </div>
        </div>
        <p class="text-center">Copyright&copy; All Right Reserved <a href="#">ghazna.com</a> 2023 </p>
    </div>
</footer>
