</main>



<footer>
    <div class="container">
        <p>Copyright&copy; Allright reserved 2023. </p>
    </div>
</footer>

<script src="./assets/js/all.js"></script>

<script src="./assets/js/main.js"></script>
</body>

</html>