<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="./assets/css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">

    <!-- fontawesome icons css  -->
    <link rel="stylesheet" href="./assets/css/all.css">

</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="./logo.png" alt="ghazna school logo ">
            </div>

            <div class="icons">
                <span><i class="fa fa-search"></i></span>
                <span id="menuBtn"><i class="fa-solid fa-bars" style="color: #172030;"></i></span>
            </div>
        </div>
    </header>
    <nav id="navMenu">
        <div class="container">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i> HOME</a></li>
                <li><a href="#"><i class="fa fa-sign-in"></i> ADDMISSIONS</a></li>
                <li><a href="#"><i class="fa fa-phone"></i> CONTACT US </a></li>
            </ul>
            <div class="closeBtn"><button class="close" id="closeMenu"><i class="fa fa-close"></i> </button></div>
        </div>
    </nav>



    <main>