<%- include('./layouts/header') %>

    <style>
        form{
            padding: 10px;
        }
        .input-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        button {
            background-color: #6e2f2f;
            color: #fff;
            border: none;
            padding: 7px 12px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #b14d4d;
        }
    </style>

    <!-- main in strted from here  -->
    <section class="section">
        <div class="container section-container">
            <h3>Contact us </h3>
            <h1 style="margin: 1rem 0px;"> FREE FEEL TO CONTACT US </h1>
            <p>Your questions and feedback are important to us. We welcome your
                inquiries and look <br> forward to connecting with you as we work together to create an exceptional
                educational experience.</p>


            <form method="post" action="/api/contact/" id="contactform" autocomplete="off" >
                <div class="input-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required placeholder="Name" maxlength="40" minlength="4">
                </div>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required placeholder="Email" maxlength="100" minlength="4">
                </div>
                <div class="input-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="10" required placeholder="Your message" maxlength="500" minlength="10"  ></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>

        </div>
    </section>
    <!-- main in ended from here  -->
    <%- include('./layouts/footer') %>