<%- include('./layouts/header') %>
    <!-- main in strted from here  -->
    <section id="intro" class="intro">

        <div class="intro-content">
            <h2>Welcome to GH Technical </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis temporibus vero nihil ut laboriosam nobis dicta a placeat ipsa aut ipsam voluptatum error delectus beatae, fugit aspernatur consequatur architecto commodi quisquam. Hic iste labore cum! Ullam possimus ea illo ex veniam nam perferendis voluptatibus tenetur, labore ipsum consectetur itaque blanditiis aliquam autem quis deserunt eius esse eligendi, tempore vitae sint assumenda ratione. Consequatur nihil unde deleniti totam voluptatem quisquam quaerat animi distinctio nemo soluta, tempora sint numquam odit iusto rem provident est error. Amet qui aliquam sit nisi illum alias molestiae facilis quasi id cum similique sunt, neque error rerum vero eligendi, illo laboriosam, magnam iure dignissimos dicta aut ratione? Illo fuga odit, quam iusto rem vitae at odio praesentium!</p>
        </div>
    </div> 


    </section>


    <!-- main in ended from here  -->
<%- include('./layouts/footer') %>