<%- include('./layouts/header') %>


    <!-- main in strted from here  -->
    <section id="intro" class="intro flex justify-center">

        <div class="intro-content m-auto flex justify-center flex-col">
            <div class="content-intro-inner">
                <h3><span id="firstHead"></span></h3>
                <h1>MADINA PUBLIC HIGH SCHOOL <span>Surkamar </span></h1>

                <p class="mt-1">Madina Public School is dedicated to providing a well-rounded education, blending
                    academic excellence with character development. Our passionate educators strive to nurture curious
                    minds and instill strong values in our students. We aim to prepare future leaders who are both
                    academically proficient and socially responsible.</p>
                <div class="ani flex w-full item-center default-padding" down">
                    <h2>WE TEACH: &nbsp;</h2>
                    <h3 id="courses"></h3>
                </div>
                <div class="intro-buttons w-full flex mt-1">
                    <a href="/teacher/create" class="btn">APPLY</a>
                    <a href="/student/checkstatus" class="btn">ADMISSION </a>
                </div>
            </div>
        </div>


        </div>


    </section>

    <section id="services" class="services section">
        <div class="container default-padding section-container">
            <h2>Our Services</h2>
            <h1>WHAT WE OFFER FOR STUDENTS </h1>
            <div class="services-cards flex flex-wrap item-center">

                <div class="service-card">
                    <img src="/assets/media/images/hsupport.png" alt="">
                    <div class="card-text">
                        <h3>Health Support</h3>
                        <p> Access a range of medical services and resources, including counseling and wellness
                            programs, to promote student health and well-being while attending school.</p>
                    </div>
                </div>

                <div class="service-card">
                    <img src="/assets/media/images/tsupport.png" alt="">
                    <div class="card-text">
                        <h3>Technology Support</h3>
                        <p> Technology Support: Find comprehensive help for all your tech-related needs, from
                            troubleshooting to software access, ensuring a seamless academic journey in the digital age.
                        </p>
                    </div>
                </div>
                <div class="service-card" style="margin-top:2rem;">
                    <img src="/assets/media/images/laccess.png" alt="">
                    <div class="card-text">
                        <h3>Library Access </h3>
                        <p> Explore a wealth of academic resources, both digital and physical, to support your studies,
                            research, and intellectual growth throughout your academic journey.</p>
                    </div>
                </div>


            </div>
            <h1>FOR TEACHERS </h1>
            <div class="services-cards flex flex-wrap item-center">


                <div class="service-card " style="margin-top: 3rem;">
                    <img src="/assets/media/images/clesson.png" alt="">
                    <div class="card-text">
                        <h3>Creative Lessons </h3>
                        <p>Service Creative Lessons: Encourage innovative and engaging teaching methods to inspire
                            student creativity and critical thinking, fostering a dynamic and effective learning
                            environment.</p>
                    </div>
                </div>

                <div class="service-card">
                    <img src="/assets/media/images/rshairing.png" alt="">
                    <div class="card-text">
                        <h3>Resource Sharing</h3>
                        <p> Easily share educational materials, promoting a collaborative learning environment and
                            resource accessibility for students.</p>
                    </div>
                </div>
                <div class="service-card" style="margin-top:2rem;">
                    <img src="/assets/media/images/sinformation.png" alt="">
                    <div class="card-text">
                        <h3>Students Informations</h3>
                        <p> Access essential student details and academic records for better understanding and
                            personalized instruction, facilitating effective communication with parents or guardians as
                            needed.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="survey" class="section survey">
        <div class="container default-padding section-container">
            <h2>Survey</h2>
            <h1>OUR SCHOOL ANALYTICS 2023 </h1>
            <div class="survey-cards flex flex-wrap item-center justify-center">
                <div class="survey-item">
                    <h3>Total Admissions</h3>
                    <h1 class="surveyValue">+</h1>
                </div>
                <div class="survey-item">
                    <h3>Take Tests</h3>
                    <h1 class="surveyValue">+</h1>
                </div>

                <div class="survey-item">
                    <h3>Faregh Students</h3>
                    <h1 class="surveyValue">+</h1>
                </div>

            </div>

        </div>
    </section>


    <section id="rules_regulations" class="section rules-regulations">
        <div class="container section-container">
            <h2>Rules & Regulations </h2>
            <div class="rg-rows">

                <div class="rg-row w-full flex justify-between">
                    <div class="rg-text-content">
                        <h1>DAILY ASSEMBLY </h1>
                        <p>Welcome to our school's virtual assembly, where we open our digital doors to students,
                            parents, teachers, and the wider community. At [School Name], we believe in the power of
                            education to transform lives, and this assembly is a testament to our commitment to
                            excellence. As you explore the content here, you'll discover not just the academic programs
                            and achievements that define us but also the values and ethos that make our school a vibrant
                            and inclusive community. We invite you to join us on this virtual journey, where we
                            celebrate learning, share our accomplishments, and reaffirm our dedication to nurturing the
                            minds and character of the future generation. Thank you for being a part of our online
                            assembly, and we look forward to your continued support in our mission of education and
                            growth.</p>
                    </div>
                    <div class="img">
                        <img src="./assets/media/images/assembly.png" alt="">
                    </div>
                </div>
                <div class=" rg-row w-full flex  justify-between flex-row-rev">
                    <div class="rg-text-content">
                        <h1>DAILY TEST TAKING </h1>
                        <p>As the time for tests approaches, we want to take a moment to remind you that your ability to
                            succeed goes beyond the scores you achieve. While we value academic excellence, we also
                            believe in the importance of a balanced and holistic education. Tests are a way to assess
                            your understanding of the material, but they do not define your worth or potential. We
                            encourage you to approach these assessments with confidence in your abilities, a growth
                            mindset, and a commitment to doing your best. Remember, mistakes and challenges are part of
                            the learning process, and we are here to support you every step of the way. Stay focused,
                            stay positive, and believe in yourselves because we certainly do. Good luck with your tests,
                            and remember, you are more than your grades.</p>
                    </div>
                    <div class="img">
                        <img src="./assets/media/images/rdiscipline.png" alt="">
                    </div>
                </div>
                <div class="rg-row w-full flex justify-between">
                    <div class="rg-text-content">
                        <h1>RIGHT DISCIPLINE </h1>
                        <p>
                            Discipline is the cornerstone of our educational environment. We believe in instilling
                            values of respect, responsibility, and self-control in our students. Our approach to
                            discipline is based on fairness, guidance, and mutual respect. It's about equipping our
                            students with essential life skills that go beyond the classroom. Together, as a community,
                            we aim to create an atmosphere where discipline is a foundation for personal growth and
                            success.
                        </p>
                    </div>
                    <div class="img">
                        <img src="./assets/media/images/rdiscipline.png" alt="">
                    </div>
                </div>
                <div class="rg-row w-full flex  justify-between flex-row-rev">
                    <div class="rg-text-content">
                        <h1> MUST QURAN NAZRA & HAFIZ CLASSES </h1>
                        <p>

                            In our school, we hold the Quran Nazra and Quran Hafiz classes in high regard as they
                            represent not just an educational opportunity but a profound spiritual journey. These
                            classes are not mandatory out of compulsion, but out of a deep respect for the importance of
                            Quranic education. We recognize that these classes not only foster an understanding of the
                            Quranic text but also instill a strong sense of faith, discipline, and devotion among our
                            students. We are committed to providing a nurturing and supportive environment for students
                            pursuing these courses, respecting the diversity of their spiritual journeys. It is our
                            belief that the Quran, with its profound wisdom and guidance, plays an essential role in
                            shaping individuals of strong moral character. We encourage all students to approach these
                            classes with an open heart and a willingness to embrace the spiritual growth that comes with
                            Quranic education.
                        </p>
                    </div>
                    <div class="img">
                        <img src="./assets/media/images/hafiz.png" alt="">
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="testemonials section" id="testemonials">
        <div class="container section-container">
            <h2>Testemonials</h2>
            <div class="testemonilas-container">
                <h1>WHAT CLIENTS SAYS </h1>
                <div class="testmonials-all flex item-center justify-around flex-wrap">



                    <div class="testemonial-1 testmonial">
                        <img src="./assets/media/images/test.png" alt="">
                        <h3>Ghazna khan </h3>
                        <span>Principle</span>
                        <p>
                            As the principal of MPS, I am proud of our commitment to holistic education, where academic
                            excellence and character development go hand in hand. Together, we shape futures and realize
                            dreams.
                        </p>
                        <div class="icons">
                            <a href="#" style="color: blue;"><i class="fa-brands fa-facebook"></i></a><a href="#"
                                style="color: green;"><i class="fa-brands fa-whatsapp"></i></a><a href=""><i
                                    class="fa fa-phone" style="color: red;"></i></a>
                        </div>
                    </div>
                    <div class="testemonial-1 testmonial">
                        <img src="./assets/media/images/test2.jpg" alt="">
                        <h3>Hasnain</h3>
                        <span>MD School </span>
                        <p>
                            As the Managing Director of MPS, I'm dedicated to ensuring that our institution provides a
                            nurturing and enriching educational experience. We are committed to empowering students for
                            a bright and successful future.
                        </p>
                        <div class="icons">
                            <a href="#" style="color: blue;"><i class="fa-brands fa-facebook"></i></a><a href="#"
                                style="color: green;"><i class="fa-brands fa-whatsapp"></i></a><a href=""><i
                                    class="fa fa-phone" style="color: red;"></i></a>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </section>


    <!-- contact us section section  -->
    <section class="contactus section" id="contactus">
        <div class="container section-container">
            <h2>Contact us </h2>
            <h1>FREE FEEL FOR CONTACTUS </h1>
            <div class="contact-blocks flex flex-wrap-rev item-center justify-center default-padding">
                <div class="contactblock contactblock1">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.3369442560793!2d71.34299997498364!3d34.0095610731731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38d90f807ee196a3%3A0x9a30c93ee2e16466!2sMadina%20Public%20School!5e0!3m2!1sen!2s!4v1695628954763!5m2!1sen!2s"
                        style="border:0; width:100%; height:100%;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>


                <div class="contactblock contactblock2" style="  box-shadow: 0px 0px 6px #2e2d2dd2;">
                    <h3>Get in the touch! </h3>

                    <div class="address-block flex item-center padding-default">
                        <span class="span"><i class="fa-brands fa-facebook"></i></span>
                        <div class="address-text flex flex-col ">
                            <strong style="margin: 6px 0px;">On Facebook </strong>
                            <p>MADINA PUBLCI HIGH SCHOOL </p>
                        </div>
                    </div>


                    <div class="address-block flex item-center padding-default">
                        <span class="span"><i class="fa-brands fa-whatsapp"></i></span>
                        <div class="address-text flex flex-col ">
                            <strong style="margin: 6px 0px;">Message! </strong>
                            <p>+92 3251857693 </p>
                        </div>
                    </div>


                    <div class="address-block flex item-center padding-default">
                        <span class="span"><i class="fa fa-flag"></i></span>
                        <div class="address-text flex flex-col ">
                            <strong style="margin: 6px 0px;">Country </strong>
                            <p>Pakistan </p>
                        </div>
                    </div>


                    <div class="address-block flex item-center padding-default">
                        <span class="span"><i class="fa fa-map"></i></span>
                        <div class="address-text flex flex-col ">
                            <strong style="margin: 6px 0px;">Address </strong>
                            <p>Surkamar Jamrud district Khyber </p>
                        </div>
                    </div>






                </div>
            </div>
        </div>
    </section>
    <!-- main in ended from here  -->



    <%- include('./layouts/footer') %>



        <!-- font-awesome js file -->
        <script src="/assets/js/all.js"></script>

        <!-- typedjs animation library cdn -->
        <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

        <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->

        <!-- main js  -->
        <script src="/assets/js/main.js"></script>


        
        <script>

            const increaseValues = (range, index, timing) => {
                let counter = 0
                let surveyValue = document.querySelectorAll(".surveyValue");
                setInterval(() => {
                    if (counter >= range) {
                        clearInterval();
                    }
                    else {
                        counter = counter + 88
                        surveyValue[index].innerHTML = counter + "+"
                    }
                }, timing);
            }

            increaseValues(6000, 0, 300);
            increaseValues(16000, 1, 100);
            increaseValues(4500, 2, 300)


            // aos and typed animations libarary works 

            var typed = new Typed("#firstHead", {
                strings: ["Education is the passport to the future, for tomorrow belongs to those who prepare for it today."],
                typeSpeed: 120,
            })
            var typed = new Typed("#courses", {
                strings: ["MATHS", "URDU", "ENGLISH", "ISLAMYAT", "PAK STUDY", "PASHTO", "BIOLOGY", "CHEMISTARY"],
                typeSpeed: 50,
                loop: true,
                cursorChar: "✏️"
            })


        </script>

        </body>

        </html>