<%- include('./layouts/header') %>
<!-- main in strted from here  -->
        <h1>Welcome to GH organization </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam officiis expedita totam, officia, harum,
            alias voluptates eius corrupti facere impedit libero dicta nam. Laudantium provident quos minus error
            voluptates exercitationem nihil, suscipit itaque incidunt et dignissimos quia corrupti harum blanditiis
            pariatur consequatur amet minima neque odio non. Officia suscipit, quos delectus doloremque facilis odio
            labore id repellendus nam rem fugit, ut est neque quam quibusdam fugiat ipsa sunt harum ducimus.
            Perspiciatis dolorum placeat libero amet voluptate ab quasi, repellendus voluptas cum quos molestiae
            similique, corporis debitis dolor impedit omnis voluptates deserunt quod dicta ad vero, at harum. Sed iure
            unde debitis necessitatibus ex, cum id quibusdam quasi quas culpa illo molestiae vitae deserunt illum
            suscipit. Asperiores fugiat explicabo modi ea excepturi nulla! Labore et inventore officiis maiores
            similique, vel alias! Eius ad incidunt omnis, ipsa eveniet praesentium unde, commodi fuga voluptatum quam,
            alias enim autem cupiditate non dicta eligendi minus ea ullam iusto a? In culpa fugit enim totam sed
            corrupti et nam modi perferendis adipisci dicta reiciendis a alias iure, obcaecati praesentium corporis
            repudiandae debitis ad est dolore architecto maiores? Magnam, quaerat et expedita exercitationem minima,
            quos odio architecto at quam, sit delectus nam nobis. Dolore eveniet aliquam assumenda sapiente temporibus,
            blanditiis placeat possimus alias culpa vero pariatur consequatur neque molestiae illo dignissimos facere
            exercitationem dolores quas, deserunt nisi porro. Provident impedit at ratione voluptas rerum dolores nam,
            recusandae unde consectetur consequuntur, iusto quasi praesentium accusantium numquam et debitis dolorem,
            obcaecati ipsa possimus quae neque molestias inventore. Pariatur, consectetur? Optio, earum eum soluta
            explicabo itaque quo eos libero minima necessitatibus quisquam commodi unde illo adipisci deserunt alias
            accusamus dolorum quibusdam. Corrupti aut minima sed officiis facilis quasi laudantium illum ipsam hic,
            consequuntur ipsum ducimus eum ratione a, nobis distinctio magnam dignissimos quidem possimus, sequi
            necessitatibus quam aliquid cupiditate. Eveniet culpa officiis a itaque veritatis, molestiae blanditiis
            dolore maiores alias veniam enim voluptates incidunt quibusdam laudantium natus perspiciatis aliquam non
            nulla magni cumque consequuntur voluptate. Libero adipisci autem commodi animi sequi pariatur omnis quos
            possimus suscipit magni dolores impedit corporis debitis nisi, distinctio fuga, odit consequuntur. Quod,
            repellat iusto? Aut eos rem dolor! Animi, sit iure quo aperiam sapiente modi nostrum pariatur soluta, quam
            aliquam voluptas repudiandae veritatis repellendus porro error placeat quasi, recusandae iusto! Harum eos
            fugiat veritatis quos minima aspernatur perspiciatis tenetur similique beatae odio, eaque neque
            reprehenderit minus explicabo consequuntur non mollitia commodi porro quia atque, possimus reiciendis. Magni
            optio autem ipsam dicta illo iure ipsum quae tempore ea consequatur molestias distinctio nobis fugiat
            adipisci odio, officia, aliquid asperiores? Eum alias tempore illum dignissimos repellendus mollitia tenetur
            at dolorem vel enim pariatur magnam ex incidunt eveniet nemo, aperiam, ullam quam, quasi doloremque adipisci
            esremque! At cupiditate temporibus, quo magnam modi facilis similique corporis officiis velit possimus amet
            dicta mollitia delectus consequatur tempore inventore voluptate eos molestias asperiores ipsa reprehenderit
            consectetur vitae odio! Amet, dolorem vitae. Ducimus nostrum minus iste ipsam hic repellat, libero officia
            aperiam alias blanditiis rerum! Eveniet tenetur illum quis dicta! Similique ipsam asperiores rem mollitia
            qui. Placeat quo quidem consectetur, sunt possimus blanditiis nisi, omnis eos delectus ab, molestias fugiat
            perferendis quae dolorum! Facere animi vel molestias deserunt, reprehenderit accusantium consectetur quam
            vitae ratione mollitia laudantium similique dolorum, sed rerum ipsa in quaerat hic reiciendis itaque optio
            fugiat nobis possimus. Vitae ducimus vel adipisci doloribus alias sit incidunt eum. Doloremque excepturi
            cumque repellendus iusto provident! Culpa, nam ullam. Aspernatur commodi praesentium sint quam. Distinctio
            illum blanditiis beatae commodi incidunt eius unde quod sapiente at ratione, aliquid libero molestias porro
            esse molestiae temporibus minima architecto dicta laborum aliquam vel quos? Explicabo illum labore animi
            beatae asperiores quia blanditiis modi eveniet sint? Ullam esse cum officia alias, minus cupiditate facere
            veniam atque! Hic beatae doloremque quod? Facere at autem, voluptates quia ipsum blanditiis maiores
            similique sit accusamus perferendis sequi dicta nulla officiis doloribus rem, quos earum magni. Eligendi
            veritatis provident excepturi maiores vero animi iste numquam id nihil! Libero quam rem culpa debitis nisi
            delectus voluptatum eos, adipisci nobis magnam cumque odit, similique, consectetur quis recusandae neque ad
            placeat voluptate. Nihil exercitationem commodi quod possimus porro inventore tempore quia, natus voluptas
            maxime reprehenderit recusandae veritatis et dolor velit, consectetur modi deleniti nesciunt nostrum esse
            optio. Dolorem doloribus mollitia molestias maiores asperiores dicta ipsum, quibusdam accusantium tenetur
            quaerat aliquam, eum, atque expedita autem distinctio eius qui? Odio debitis at magnam, aperiam vitae magni
            iusto? Numquam consectetur at ullam id nostrum quam inventore obcaecati ratione voluptate corporis debitis
            dolorum, quod, amet natus ad optio. Veritatis quas molestias ratione rerum sed pariatur placeat fugiat culpa
            aperiam totam? Beatae quam non assumenda necessitatibus neque natus porro a consectetur sequi praesentium
            fugit minus, rerum aut voluptatibus architecto voluptas cumque earum magnam at atque possimus. Blanditiis
            quos odit animi laborum consectetur molestiae fugit sapiente non sequi quo, amet recusandae numquam
            obcaecati similique, rem dicta eos nostrum quisquam beatae magni ad. Asperiores rerum ipsum veritatis,
            perferendis inventore est ad accusamus illo minus numquam laudantium atque non deserunt quibusdam, doloribus
            ratione molestias possimus animi in nemo delectus! Quas repellat quibusdam placeat, nesciunt nam odio vero
            est, alias rerum harum numquam nobis, delectus et. Aperiam fuga, iusto iste magnam cumque alias dolore
            porro! Voluptatem at repellat asperiores distinctio ab in et ad alias, iste rerum magni omnis, laboriosam
            autem cupiditate ex quo. Unde ratione explicabo quasi.</p>
 

<!-- main in ended from here  -->
<%- include('./layouts/footer') %>
