<%- include('./layouts/header') %>


        <!-- main in strted from here  -->
        <section id="intro" class="intro">

            <div class="intro-content" data-aos="zoom-in">
                <div class="content-intro-inner">
                    <h3><span id="firstHead"></span></h3>
                    <h1>MADINA PUBLIC HIGH SCHOOL <span>Surkamar </span></h1>

                    <p data-aos="zoom-in-down">Lorem, ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Harum, magni. adipisicing elit. Provident repellat magnam commodi, voluptas qui quo id iste
                        aspernatur vero laudantium molestias consequuntur.</p>
                    <div class="ani" data-aos="zoom-in-down">
                        <h2>WE TEACH: &nbsp;</h2>
                        <h3 id="courses"></h3>
                    </div>
                    <div class="intro-buttons">
                        <a href="#" data-aos="flip-up">APPLY</a>
                        <a href="#" data-aos="flip-up">ADMISSION </a>
                    </div>
                </div>
            </div>


            </div>


        </section>


      
        <!-- main in ended from here  -->



<%- include('./layouts/footer') %>