<%- include('./layouts/header') %>


        <!-- main in strted from here  -->
        <section id="intro" class="intro flex justify-center">

            <div class="intro-content m-auto flex justify-center flex-col" data-aos="zoom-in">
                <div class="content-intro-inner">
                    <h3><span id="firstHead"></span></h3>
                    <h1>MADINA PUBLIC HIGH SCHOOL <span>Surkamar </span></h1>

                    <p class="mt-1" data-aos="zoom-in-down">Lorem, ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Harum, magni. adipisicing elit. Provident repellat magnam commodi, voluptas qui quo id iste
                        aspernatur vero laudantium molestias consequuntur.</p>
                    <div class="ani flex w-full item-center default-padding" data-aos="zoom-in-down">
                        <h2>WE TEACH: &nbsp;</h2>
                        <h3 id="courses"></h3>
                    </div>
                    <div class="intro-buttons w-full flex mt-1">
                        <a href="#" data-aos="flip-up" class="btn">APPLY</a>
                        <a href="#" data-aos="flip-up" class="btn">ADMISSION </a>
                    </div>
                </div>
            </div>


            </div>


        </section>

        <section id="services" class="services section">
            <div class="container default-padding section-container">
                <h2>Our Services</h2>
                <h1>For students  </h1>
                <div class="services-cards flex flex-wrap item-center">

                    <div class="service-card" data-aos="fade-left">
                        <img src="/assets/media/images/card.jpg" alt="">
                       <div class="card-text">
                        <h3>Busses & cars for sheep </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo possimus architecto quae eveniet itaque? Assumenda pariatur mollitia quisquam laboriosam, unde aliquid.</p>
                       </div>
                    </div>
                    <div class="service-card" style="margin-top:2rem;" data-aos="fade-up">
                        <img src="/assets/media/images/card.jpg" alt="">
                       <div class="card-text">
                        <h3>Clean Environment</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo possimus architecto quae eveniet itaque? Assumenda pariatur mollitia quisquam laboriosam, unde aliquid.</p>
                       </div>
                    </div>
                    <div class="service-card " style="margin-top: 3rem;" data-aos="fade-right">
                        <img src="/assets/media/images/card.jpg" alt="">
                       <div class="card-text">
                        <h3>Another Service  </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo possimus architecto quae eveniet itaque? Assumenda pariatur mollitia quisquam laboriosam, unde aliquid.</p>
                       </div>
                    </div>

                </div>
                <h1>For Teachers </h1>
                <div class="services-cards flex flex-wrap item-center">

                    <div class="service-card" data-aos="fade-left">
                        <img src="/assets/media/images/card.jpg" alt="">
                       <div class="card-text">
                        <h3>Busses & cars for sheep </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo possimus architecto quae eveniet itaque? Assumenda pariatur mollitia quisquam laboriosam, unde aliquid.</p>
                       </div>
                    </div>
                    <div class="service-card" style="margin-top:2rem;" data-aos="fade-up">
                        <img src="/assets/media/images/card.jpg" alt="">
                       <div class="card-text">
                        <h3>Clean Environment</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo possimus architecto quae eveniet itaque? Assumenda pariatur mollitia quisquam laboriosam, unde aliquid.</p>
                       </div>
                    </div>
                    <div class="service-card " style="margin-top: 3rem;" data-aos="fade-right">
                        <img src="/assets/media/images/card.jpg" alt="">
                       <div class="card-text">
                        <h3>Another Service  </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo possimus architecto quae eveniet itaque? Assumenda pariatur mollitia quisquam laboriosam, unde aliquid.</p>
                       </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="survey" class="section survey" data-aos="flip-up">
            <div class="container default-padding section-container">
                <h2>Survey</h2>
                <h1>Our school analytics </h1>
                <div class="survey-cards flex flex-wrap item-center justify-center">
                    <div class="survey-item">
                        <h3>Total Admissions</h3>
                        <h1>12030+</h1>
                    </div>
                    <div class="survey-item">
                        <h3>Take Tests</h3>
                        <h1>343032+</h1>
                    </div>
                    
                    <div class="survey-item">
                        <h3>Faregh Students</h3>
                        <h1>9803+</h1>
                    </div>

                </div>
    
            </div>
        </section>

      
        <!-- main in ended from here  -->



<%- include('./layouts/footer') %>