<%- include('./layouts/header') %>


    <!-- main in strted from here  -->
    <section id="intro" class="intro flex justify-center">

        <div class="intro-content m-auto flex justify-center flex-col" data-aos="zoom-in">
            <div class="content-intro-inner">
                <h3><span id="firstHead"></span></h3>
                <h1>MADINA PUBLIC HIGH SCHOOL <span>Surkamar </span></h1>

                <p class="mt-1" data-aos="zoom-in-down">Lorem, ipsum dolor sit amet consectetur Lorem ipsum dolor sit
                    amet consectetur adipisicing elit.
                    Harum, magni. adipisicing elit. Provident repellat magnam commodi, voluptas qui quo id iste
                    aspernatur vero laudantium molestias consequuntur.</p>
                <div class="ani flex w-full item-center default-padding" data-aos="zoom-in-down">
                    <h2>WE TEACH: &nbsp;</h2>
                    <h3 id="courses"></h3>
                </div>
                <div class="intro-buttons w-full flex mt-1">
                    <a href="#" data-aos="flip-up" class="btn">APPLY</a>
                    <a href="#" data-aos="flip-up" class="btn">ADMISSION </a>
                </div>
            </div>
        </div>


        </div>


    </section>

    <section id="services" class="services section">
        <div class="container default-padding section-container">
            <h2>Our Services</h2>
            <h1>For students </h1>
            <div class="services-cards flex flex-wrap item-center">

                <div class="service-card" data-aos="fade-left">
                    <img src="/assets/media/images/card.jpg" alt="">
                    <div class="card-text">
                        <h3>Busses & cars for sheep </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo possimus architecto
                            quae eveniet itaque? Assumenda pariatur mollitia quisquam laboriosam, unde aliquid.</p>
                    </div>
                </div>
                <div class="service-card" style="margin-top:2rem;" data-aos="fade-up">
                    <img src="/assets/media/images/card.jpg" alt="">
                    <div class="card-text">
                        <h3>Clean Environment</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo possimus architecto
                            quae eveniet itaque? Assumenda pariatur mollitia quisquam laboriosam, unde aliquid.</p>
                    </div>
                </div>
                <div class="service-card " style="margin-top: 3rem;" data-aos="fade-right">
                    <img src="/assets/media/images/card.jpg" alt="">
                    <div class="card-text">
                        <h3>Another Service </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo possimus architecto
                            quae eveniet itaque? Assumenda pariatur mollitia quisquam laboriosam, unde aliquid.</p>
                    </div>
                </div>

            </div>
            <h1>For Teachers </h1>
            <div class="services-cards flex flex-wrap item-center">

                <div class="service-card" data-aos="fade-left">
                    <img src="/assets/media/images/card.jpg" alt="">
                    <div class="card-text">
                        <h3>Busses & cars for sheep </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo possimus architecto
                            quae eveniet itaque? Assumenda pariatur mollitia quisquam laboriosam, unde aliquid.</p>
                    </div>
                </div>
                <div class="service-card" style="margin-top:2rem;" data-aos="fade-up">
                    <img src="/assets/media/images/card.jpg" alt="">
                    <div class="card-text">
                        <h3>Clean Environment</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo possimus architecto
                            quae eveniet itaque? Assumenda pariatur mollitia quisquam laboriosam, unde aliquid.</p>
                    </div>
                </div>
                <div class="service-card " style="margin-top: 3rem;" data-aos="fade-right">
                    <img src="/assets/media/images/card.jpg" alt="">
                    <div class="card-text">
                        <h3>Another Service </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi explicabo possimus architecto
                            quae eveniet itaque? Assumenda pariatur mollitia quisquam laboriosam, unde aliquid.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="survey" class="section survey" data-aos="flip-up">
        <div class="container default-padding section-container">
            <h2>Survey</h2>
            <h1>Our school analytics </h1>
            <div class="survey-cards flex flex-wrap item-center justify-center">
                <div class="survey-item">
                    <h3>Total Admissions</h3>
                    <h1 class="surveyValue">+</h1>
                </div>
                <div class="survey-item">
                    <h3>Take Tests</h3>
                    <h1 class="surveyValue">+</h1>
                </div>

                <div class="survey-item">
                    <h3>Faregh Students</h3>
                    <h1 class="surveyValue">+</h1>
                </div>

            </div>

        </div>
    </section>


    <section id="rules_regulations" class="section rules-regulations">
        <div class="container">
            <h2>Rules & Regulations </h2>
            <div class="rg-rows">

                <div class="row">
                    <div class="rg-text-content">
                        <h1>Daily Assembly </h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, maxime iusto accusamus ipsum
                            dolor corrupti asperiores quos perspiciatis eius tempore aliquam nisi debitis illo dolorem a
                            numquam totam est commodi ab doloribus repellat culpa. Debitis nobis voluptatum deleniti
                            excepturi quaerat eveniet incidunt odit vero temporibus commodi magni harum, sapiente
                            repellat sit illo quo in vel possimus quia rem iure! Sunt eum quibusdam rem aliquid
                            deleniti? Iste voluptas ratione beatae, architecto saepe delectus laborum quaerat, sequi
                            molestias deleniti minus? Voluptate perferendis sapiente laborum id praesentium ex dolore
                            at, porro rerum eligendi labore harum blanditiis atque fugiat! At distinctio voluptate harum
                            neque cum sint veniam quasi odio eaque architecto! Nihil dolore officia, consequuntur
                            dolores earum blanditiis quo, beatae incidunt aut nam corporis ipsum provident illum,
                            deleniti consequatur alias eum error. Autem et ducimus, perspiciatis laboriosam esse
                            molestias vel necessitatibus, voluptatem, porro reiciendis quae neque unde amet vero dolore
                            voluptatum? Quis, ad nulla!</p>
                    </div>
                    <div class="img">
                        <img src="./assets/media/images/card.jpg" alt="">
                    </div>
                </div>


            </div>
        </div>
    </section>


    <!-- main in ended from here  -->



    <%- include('./layouts/footer') %>