<%- include('./layouts/header') %>


    <!-- main in strted from here  -->
    <section class="section">
        <div class="container section-container">
            <h3>Our gallery </h3>
            <h1>Our Functions Yearly</h1>
            <div class="functions line-gallery flex item-center  flex-wrap">
                <div class="gallery-block">
                    <img src="./assets/media/images/card.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/card.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/card.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/card.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/card.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/card.jpg" alt="this is card">
                </div>
            </div>

            <h1>CLASSES AND OUR BUILDING </h1>
            <div class="classesbuildings line-gallery flex item-center  flex-wrap">
                <div class="gallery-block">
                    <img src="./assets/media/images/testmonialbg.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/testmonialbg.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/testmonialbg.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/testmonialbg.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/testmonialbg.jpg" alt="this is card">
                </div>
            </div>
            <h1>OUR GROUNDS FOR PLAYING</h1>
            <div class="grounds line-gallery flex item-center  flex-wrap">
                <div class="gallery-block">
                    <img src="./assets/media/images/testmonialbg.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/testmonialbg.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/testmonialbg.jpg" alt="this is card">
                </div>
              
            </div>

            <h1>TOP POLITICIANS VISITORS </h1>
            <div class="visitors line-gallery flex item-center  flex-wrap">
                <div class="gallery-block">
                    <img src="./assets/media/images/card.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/card.jpg" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/card.jpg" alt="this is card">
                </div>
            </div>

            <h1>POSITION HOLDERS </h1>
            <div class="pholders line-gallery flex item-center justify-center flex-wrap">
                <div class="gallery-block">
                    <img src="./assets/media/images/test.png" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/test.png" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/test.png" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/test.png" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/test.png" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/test.png" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/test.png" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/test.png" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/test.png" alt="this is card">
                </div>
                <div class="gallery-block">
                    <img src="./assets/media/images/test.png" alt="this is card">
                </div>
               
            </div>

            <h1>OUR CERTIFIED TEACHERS </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat fuga, nobis odio molestiae quia at dignissimos dolore omnis suscipit cum maxime repellendus!</p>
            <h1>OUR CHITCHENS AND CANTENS </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae mollitia eveniet consequatur animi soluta esse aliquam dolorem? Voluptatum perferendis esse provident eaque, aliquid eveniet iure repellendus adipisci magnam. Modi aperiam ipsum omnis itaque consectetur?</p>
        </div>
    </section>
    <!-- main in ended from here  -->



    <%- include('./layouts/footer') %>