<%- include('./layouts/header') %>


    <!-- main in strted from here  -->
    <section class="section">
        <div class="container section-container">
            <h3>Our Story </h3>
            <div class="flex justify-between ourstory-section-1 flex-wrap">
                <div class="block block-left">
                    <img src="./assets/media/images/test2.jpg" alt="">
                </div>
                <div class="block block-right">
                    <h1>(OUR SCHOOL NAME) INVENTION-2001 </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis illo dolor modi sint
                        veritatis
                        quasi vero aliquid incidunt voluptatibus numquam! Minima ipsam delectus nemo, fugit assumenda
                        porro
                        explicabo! Ab earum consequuntur, ipsam officia commodi possimus voluptate nobis repellat
                        adipisci
                        architecto beatae ullam pariatur odit a id obcaecati accusamus totam sint dolore quo! Sed eaque
                        i
                        ratione nobis nesciunt minima doloremque? In iste laboriosam pariatur est sapiente. Beatae sunt
                        sed
                        nulla quae ipsam libero error nam nisi repudiandae cupiditate vitae quaerat ducimus odit
                        officiis
                        aliquam iure laudantium, incidunt nihil maiores, officia eos odio? Cupiditate neque tempore,
                        officia
                        veritatis blanditiis ducimus in est voluptatibus non voluptates fuga consequatur atque sunt
                        iusto
                        delectus, cumque debitis ea. Vitae harum corporis eius ad, sequi porro cumque aut sed nisi velit
                        rem
                        optio libero expedita reprehenderit quia provident repudiandae voluptatibus accusamus magni
                        tempore!
                        Tempore ducimus recusandae autem consequuntur tenetur ipsam quas est, nisi odit facilis
                        voluptate
                        minus commodi fuga in tempora quod maiores. Quisquam voluptates vel magnam.</p>
                </div>
            </div>
            <h1>What we do with students </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni necessitatibus voluptas illum,
                repudiandae, corrupti iste soluta alias, obcaecati unde dignissimos laborum aut ad fugit earum. Dolore
                aliquid sint, dolores cupiditate labore nostrum, reiciendis dolor perferendis officiis totam consectetur
                nulla enim neque rerum facilis nihil, suscipit quos harum eaque. Voluptatibus repudiandae temporibus
                odio reprehenderit voluptates veniam quod ut qui quis quidem sunt laboriosam omnis consequuntur, sed
                animi impedit facilis fuga at ad nulla perferendis doloremque rem quos. Maiores, eligendi debitis. Vero
                dicta saepe maiores quasi possimus ea minima voluptates animi molestias quidem quos corrupti dolor quo,
                facilis deserunt nemo, repellat deleniti velit in fugiat? Minus, aut officiis amet nemo mollitia
                asperiores reiciendis neque aliquid officia laudantium in tenetur eum cupiditate doloremque a vel eos
                sunt numquam. In quasi similique maxime? Exercitationem illum repellat laboriosam numquam consectetur
                voluptatibus aliquid sunt saepe pariatur libero, in debitis nemo soluta officia necessitatibus aperiam
                doloribus sint harum. Temporibus sapiente fuga facilis reiciendis perspiciatis, aspernatur id,
                necessitatibus placeat quae repellendus ullam quibusdam explicabo possimus excepturi laboriosam
                accusamus. Atque repellat quam fugiat iure laboriosam quod ratione non alias deleniti distinctio
                inventore perferendis aliquid laborum nisi ea culpa consequatur, modi nostrum? Repellendus doloribus
                tempora deserunt, hic obcaecati omnis consequatur?</p>
        </div>
    </section>
    <!-- main in ended from here  -->



    <%- include('./layouts/footer') %>