<%- include('./layouts/header') %>


    <!-- main in strted from here  -->
    <section class="section">
        <div class="container section-container">
            <h3>Our Story </h3>
            <div class="flex justify-between ourstory-section-1 flex-wrap">
                <div class="block block-left">
                    <img src="./assets/media/images/test2.jpg" alt="">
                </div>

                <div class="block block-right">
                    <h1 style="margin: 1rem 0px;">(OUR SCHOOL NAME) INVENTION-2005 </h1>
                    <p>
                        In 2005, a visionary named Muhammad Hasnain Ghazna set forth on an extraordinary journey, driven
                        by a profound belief in the power of education. With an unwavering determination to create a
                        haven of knowledge and character development, he founded Madina Public High School. His story is
                        one of dedication, resilience, and a relentless pursuit of excellence.
                        <br><br>
                        With a heart full of hope and a clear vision, Mr. Ghazna embarked on the mission to provide
                        students at Madina Public High School with an educational experience that transcends the
                        ordinary. He understood that education is not just about imparting facts but nurturing young
                        minds, instilling values, and shaping future leaders. <br><br>

                        Today, his legacy lives on in the vibrant halls and thriving classrooms of Madina Public High
                        School. His vision continues to inspire generations of students, teachers, and staff who walk
                        through our doors, reminding us that education is a beacon of light that can guide us to a
                        brighter and better future. <br>
                    </p>
                </div>
            </div>



            <h1 style="margin: 1rem 0px;"> The Vision </h1>
            <p>
                At the heart of our institution lies a profound belief in the transformative power of education. Mr.
                Ghazna's vision was clear from the outset—to create an educational environment that not only imparts
                knowledge but also instills values, fosters character, and empowers students to thrive in an
                ever-evolving world.
            </p>
            <br>

            <h1 style="margin: 1rem 0px;"> A Legacy of Learning</h1>

            <p>
                Over the years, Madina Public High School has grown and evolved, but our commitment to providing
                holistic
                education remains unwavering. We've created a haven of knowledge where curiosity is celebrated,
                creativity
                is encouraged, and diversity is embraced. Our classrooms are vibrant spaces where students not only gain
                academic proficiency but also develop essential life skills.
            </p> <br>

            <h1 style="margin: 1rem 0px;"> Inspiring Generations</h1>
            <p>
                Mr. Ghazna's legacy lives on in every corner of our institution. His dedication to shaping future
                leaders
                and fostering an environment of lifelong learning continues to inspire generations of students,
                teachers,
                and staff who walk through our doors.
            </p> <br>

            <h1 style="margin: 1rem 0px;"> Join Our Journey</h1>

            <p> Today, we invite you to be part of our story—a story of educational excellence, character development,
                and a
                commitment to a brighter future. Explore our programs, meet our passionate educators, and witness the
                transformative power of education at Madina Public High School.

                <br><br>
                As we move forward, our story continues to be written every day by the students who dream, the teachers
                who
                inspire, and the community that supports our mission. Join us in this journey towards excellence and
                empowerment. Together, we shape the leaders, thinkers, and dreamers of tomorrow.
            </p>

            <br><br>

        </div>
    </section>
    <!-- main in ended from here  -->



    <%- include('./layouts/footer') %>