<%- include('../layouts/header') %>

<!-- main in strted from here  -->

<section class="section flex" style="margin: 0px; position:relative">


  <div class="container section-container user-profile-container">

    <div class="header">
      <h1>GHAZNA PUBLIC SCHOOL </h1>
      <span>Pending.. </span> <br><br>
      <h2> Thanks for apply.. </h2>
      <p>
        Your apppy process is completed sucessfully <br>
        And if your personal information is correct then we verify your account <br>
        If we verify your account we will contact with you. thanks
      </p>

    </div>

  </div>
</section>
<!-- main in ended from here  -->
<%- include('../layouts/footer') %>



<script src="/assets/js/all.js"></script>


<!-- typedjs animation library cdn -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->


<script src="/assets/js/main.js"></script>

</body>

</html>