<%- include('../../../layouts/dashboardHeader') %>


<!-- main in strted from here  -->
<section class="section">
  <div class="container section-container">
    <h2>Edit</h2>
    <h1>Edit Your Personal Information  </h1>


    <div class="edit-area flex item-center justify-center">



      <div class="left-edit-area edit-area-block">


        <div class="edit-signup-info w-100">
          <h3>Edit your signup details </h3>
        
          <form id="signupeditfrom" class="w-100">


            <div class="edit-row flex item-center flex item-center justify-center" >

              <div class="form-field flex item-center">
                <span><i class="fa fa-key"></i></span>
                <input type="text" name="previusPassword" id="ppassword" placeholder="Previus password" required >
              </div>
              <div class="form-field flex item-center">
                <span><i class="fa fa-key"></i></span>
                <input type="text" name="previusPassword" id="ppassword" placeholder="Previus password" required >
              </div>
  
            </div>

            <div class="edit-row flex item-center flex item-center justify-center" >

              <div class="form-field flex item-center">
                <span><i class="fa fa-key"></i></span>
                <input type="text" name="previusPassword" id="ppassword" placeholder="Previus password" required >
              </div>
              <div class="form-field flex item-center">
                <span><i class="fa fa-key"></i></span>
                <input type="text" name="previusPassword" id="ppassword" placeholder="Previus password" required >
              </div>
  
            </div>

            <div class="edit-row flex item-center flex item-center justify-center" >

              <div class="form-field flex item-center">
                <span><i class="fa fa-key"></i></span>
                <input type="text" name="previusPassword" id="ppassword" placeholder="Previus password" required >
              </div>
              <div class="form-field flex item-center">
                <span><i class="fa fa-key"></i></span>
                <input type="text" name="previusPassword" id="ppassword" placeholder="Previus password" required >
              </div>
  
            </div>

            <div class="edit-row flex item-center flex item-center justify-center" >

              <div class="form-field flex item-center">
                <span><i class="fa fa-key"></i></span>
                <input type="text" name="previusPassword" id="ppassword" placeholder="Previus password" required >
              </div>
              <div class="form-field flex item-center">
                <span><i class="fa fa-key"></i></span>
                <input type="text" name="previusPassword" id="ppassword" placeholder="Previus password" required >
              </div>
  
            </div>

            <div class="edit-row flex item-center flex item-center justify-center" >

              <div class="form-field flex item-center">
                <span><i class="fa fa-key"></i></span>
                <input type="text" name="previusPassword" id="ppassword" placeholder="Previus password" required >
              </div>
              <div class="form-field flex item-center">
                <span><i class="fa fa-key"></i></span>
                <input type="text" name="previusPassword" id="ppassword" placeholder="Previus password" required >
              </div>
  
            </div>



          </form>

        </div>


        <div class="edit-personal-info">
          <h3>Edit yoru personal Information</h3>
        </div>

        
      </div>




      <div class="right-edit-area edit-area-block">


        
        <fieldset>
          <legend><h3>Update Password</h3></legend>
          <form id="update-password-form">

            <div class="form-field flex item-center">
              <span><i class="fa fa-key"></i></span>
              <input type="text" name="previusPassword" id="ppassword" placeholder="Previus password" required >
            </div>
            <div class="form-field flex item-center">
              <span><i class="fa fa-key"></i></span>
              <input type="text" name="newPassword" id="npassword" placeholder="New password" required >
            </div>
            <div class="form-field flex item-center">
              <span><i class="fa fa-key"></i></span>
              <input type="text" name="confirmnewPassword" id="cnpassword" placeholder="Confirm new password" required >
            </div>
  
            <button type="submit">Update Now </button>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</section>
<!-- main in ended from here  -->
<%- include('../../../layouts/footer') %>



<script src="/assets/js/all.js"></script>


<!-- typedjs animation library cdn -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->


<script src="/assets/js/main.js"></script>

</body>

</html>