/* import font from google  */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Nunito:wght@300&family=PT+Sans:wght@400;700&display=swap");

/* fonts 

font-family: 'Dosis', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Shadows Into Light', cursive;
*/

/* css rest  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
}
button,
.btn {
  width: 90px;
  padding: 5px 7px;
  border: 1px solid blue;
  text-align: center;
  box-shadow: 0px 0px 8px #a6a2a2;
  transition: 0.4s;
}
button:active,
.btn:active {
  transform: scale(1.05, 1.05);
}

a {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: black;
}
p,
span,
label,
input,
button {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  a {
    font-weight: 500;
  }
  p,
  span,
  label,
  input,
  button {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
  }
}

/* ########################### */
/* utility classes  */
.container {
  width: 90%;
  margin: 0px auto;
}
.w-full {
  width: 100%;
}
.flex-ful {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.item-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flwx-wrap-rev {
  flex-wrap: wrap-reverse;
}
.justify-end {
  justify-content: flex-end;
}

.flex-col {
  flex-direction: column;
}
.m1-auto {
  margin: 1rem auto;
}
.text-center {
  text-align: center;
}

.m0-auto {
  margin: 0px auto;
}
.m-auto {
  margin: auto;
}

.default-padding {
  padding: 5px;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}

/* utility classes  */
/* ########################### */

header {
  width: 100%;
  /* background: white; */
  padding-top: 17px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .logo {
  width: 80px;
  height: 90px;
}

header .container .icons span {
  font-size: 1.3rem;
  cursor: pointer;
  margin: 0px 10px;
}
header .container .icons span:last-child {
  font-size: 2rem;
  display: none;
}

nav {
  margin-top: 7px;
  width: 100%;
  position: static;
  /* z-index: inherit;
  transform: none; */
}

nav ul li {
  list-style-type: none;
  margin: 0px 6px;
  padding: 9px 7px;
}
nav ul li:hover {
  background: #ede7e7e4;
  transform: scale(1.04, 1.04);
}
nav ul li:hover nav ul li a {
  color: white;
}
nav .closeBtn {
  width: 100%;
  display: none;
  margin-top: 1rem;
}
nav .closeBtn button {
  background: #a32727;
  width: 100%;
  border: 1px solid #6e2f2f;
  color: white;
  font-size: 1.7rem;
  border-radius: 5px;
}

main {
  width: 100%;
}

.intro {
  width: 100%;
  position: relative;
  height: 100vh;
}

.intro-content {
  width: 90%;
  height: 90%;
  box-shadow: 0px 0px 12px rgb(193, 188, 188);
  border-radius: 10px;
  padding: 25px;
  background: #e3dddde2 url(../media/images/new_intro.png) no-repeat center
    center/cover;
  background-blend-mode: overlay;
}
.content-intro-inner {
  width: 60%;
  margin: 0px 4rem;
  border-left: 6px solid transparent;
  border-image: linear-gradient(to bottom, #e98a8c, #e3dddde2) 1;
  padding: 15px;
}

.content-intro-inner h1 {
  font-size: 4rem;
  margin: 4px 0px;
}

.content-intro-inner h1 span,
.content-intro-inner p {
  font-size: 1.3rem;
  background: #a32727;
  border-radius: 4px;
  color: white;
  padding: 6px;
}
.content-intro-inner p {
  font-size: 1.07rem;
}

.content-intro-inner .ani {
  margin-top: 0.6rem;
}

/* links in intro end (buttons) */
.intro-buttons a {
  margin: 0px 12px;
  width: 120px;
  color: white;
  padding: 9px;
}

.intro-buttons a:first-child {
  border: 1px solid green;
  background: green;
}
.intro-buttons a:first-child:hover {
  background: #036703;
}

.intro-buttons a:last-child {
  border: 1px solid blue;
  background: blue;
}
.intro-buttons a:last-child:hover {
  background: #0505d9f1;
}

/* .services{
  width: 100%;
  height: 100%;
} */
.services .container h2 {
  color: gray;
  position: relative;
}
.services .container h2::before {
  content: "";
  margin: 0px 1rem;
  border: 1px solid gray;
  width: 50%;
}
.services .container h1 {
  margin: 0.4rem 3rem;
  font-size: 2.3rem;
  color: #a32727;
}
.container .services-cards {
  margin-top: 1.5rem;
  /* position: relative; */
}
.services .container .services-cards .service-card {
  width: 300px;
  padding: 10px;
  height: 300px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #6e2f2f;
  margin: 1rem auto;
  box-shadow: -4px 9px 11px 0px #c8bbbbd4;
  transform: skewX(-6deg);
  transition: 1s;
}


.services-cards .service-card img {
  position: relative;
  width: 100%;
  height: 100%;
}
.service-card .card-text {
  padding: 10px 15px;
  height: 30%;
  background: white;
  position: absolute;
  bottom: 3;
  border-radius: 5px;
  overflow: hidden;
  transition: 1s;
}
.service-card .card-text h3{
  margin: 0.6rem 0px;
  color: #6e2f2f;
}
.service-card .card-text p{
  letter-spacing: 2px;
}

.services .container .services-cards .service-card:hover{
  transform: skewX(0deg);
}

.service-card:hover.service-card .card-text {
  height: 70%;
}

/* ##########################
##########################
footer stying .. 
##########################
########################## */
footer .container {
  padding: 10px;
  padding-top: 40px;
}

footer .container .row .col {
  width: 230px;
  margin: 1rem auto;
}
.container .row .col img {
  width: 170px;
  height: 170px;
  margin: 0px auto;
}

footer .container .row .col h3 {
  margin-bottom: 5px;
}

footer .container .row .col ul {
  margin-top: 8px;
}
footer .container .row .col ul li {
  list-style: none;
  margin: 7px 3px;
}
footer .container p {
  margin: 8px 0px;
  font-size: 1.2rem;
}

@media screen and (max-width: 1100px) {
  .intro {
    height: auto;
  }
  .intro .intro-content .content-intro-inner {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 80%;
  }
  .intro h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 96%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 75%;
  }
  .intro .intro-content {
    margin-top: 1rem;
    width: 94%;
  }
  .intro .intro-content .content-intro-inner {
    width: 100%;
    margin: 1rem !important;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 70%;
  }

  header .container .icons span:last-child {
    display: unset;
  }
  nav {
    background: white;
    box-shadow: 0px 0px 4px #424040;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s;
    transform: translateY(-500px);
    border-bottom: none;
    margin: 0px auto;
    position: absolute;
    z-index: 111111;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 0.6rem auto;
    width: 100%;
    /* text-align: center; */
    padding: 8px 12px;
    border-bottom: 1px solid gray;
  }
  nav ul li a {
    width: 100%;
  }

  nav .closeBtn {
    display: block;
  }
}
