<%- include('../layouts/header') %>


    <!-- main in strted from here  -->
    <section class="section">
        <div class="container section-container">
            <h3> Student Admission  </h3>
            <h1 style="margin: 1rem 0px;"> Create new account! </h1>
            <p>Your questions and feedback are important to us. We welcome your
                inquiries and look <br> forward to connecting with you as we work together to create an exceptional
                educational experience.</p>

        </div>
    </section>
    <!-- main in ended from here  -->
    <%- include('../layouts/footer') %>