<%- include('../layouts/header') %>


    <!-- main in strted from here  -->
    <section class="section">
        <div class="container section-container">

            <div class="header">
                <h1>MADINA PUBLIC SCHOOL </h1>
                <span>Step-1 Create Account Now </span>
            </div>

            <h3> Student Admission </h3>
            <div class="form-area">
                <div class="form-header">
                    <h1 style="margin: 1rem 0px;"> Create new account! </h1>
                    <ul>
                        <li>
                           <p> Please fill all fields with valid credientials and don't leave any field from this other
                            wise the submit button is disabled.</p>
                        </li>
                        <li><p>Must check your confirm password if match otherwise they will throw error (submit button
                            are disabled).</p></li>
                        <li>
                           <p> And must calculate the 100 + 5 = and type the answer of this is the last field.</p>
                        </li>
                    </ul>
                </div>

                <form action="/api/student/signup" id="signup-form" method="post">

                    <div class="form-fields-row flex item-center justify-center">

                        <div class="form-field">
                            <span><i class="fa fa-user"></i></span>
                            <input type="text" class="form-input" name="firstname" id="firstname"
                                placeholder="Frist name " required minlength="4" pattern="[A-Za-z]{30}"
                                title="Please Enter Valid Name">
                        </div>


                        <div class="form-field">
                            <span><i class="fa fa-user"></i></span>
                            <input type="text" class="form-input" name="lastname" id="lastname" placeholder="Last name"
                                required minlength="4" pattern="[A-Za-z]{50}" title="Please Enter Valid Name">
                        </div>



                    </div>

                    <div class="form-fields-row flex item-center justify-center">

                        <div class="form-field">
                            <span><i class="fa fa-key"></i></span>
                            <input type="email" class="form-input" name="email" id="email" placeholder="Valid email"
                                required minlength="5" title="Please Enter Valid Email">
                        </div>


                        <div class="form-field">
                            <span><i class="fa fa-phone"></i></span>
                            <input type="tel" class="form-input" name="phone" id="phone" placeholder="0333 3333333"
                                required minlength="5" pattern="[0-9]{4} [0-9]{7}"
                                title="Please Enter Valid Phone Number" maxlength="12">
                        </div>

                    </div>


                    <div class="form-fields-row flex item-center justify-center">

                        <div class="form-field">
                            <span><i class="fa fa-key"></i></span>
                            <input type="password" class="form-input" name="password" id="password"
                                placeholder="Password" required minlength="6" title="Please Enter Valid password">
                        </div>


                        <div class="form-field">
                            <span><i class="fa fa-envelope"></i></span>
                            <input type="password" class="form-input" name="cpassword" id="confirm-password"
                                placeholder="Confirm password" required minlength="6"
                                title="Please Enter Valid password">
                        </div>

                    </div>

                    <div class="form-fields-row flex item-center justify-center">

                        <!-- <div class="form-field">
                            <span><i class="fa fa-key"></i></span>
                            <input type="password" name="password" id="password" placeholder="Password" required minlength="6" title="Please Enter Valid password" >
                        </div>  -->

                        <div class="form-field quiz-form" style="width: 100%;">
                            <span id="5">5</span>
                            <span>+</span>
                            <span id="100">100</span>
                            <span>=</span>
                            <input type="number" class="form-input" name="quiznumber" id="quiznumber"
                                placeholder="Enter answer here " required minlength="1" maxlength="3">
                        </div>
                    </div>

                    <button type="button" id="formSubmitBtn" disabled><i class="fa fa-sign-in"></i> Signup</button>

                </form>
            </div>

        </div>
    </section>
    <!-- main in ended from here  -->
    <%- include('../layouts/footer') %>



        <script src="/assets/js/all.js"></script>


        <!-- typedjs animation library cdn -->
        <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

        <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->


        <script src="/assets/js/main.js"></script>

        <script>

            const form = document.getElementById("signup-form");
            const formSubmitBtn = document.getElementById("formSubmitBtn")
            const formInputs = document.querySelectorAll(".form-input")


            let f = false, l = false, em = false, ph = false, p = false, cp = false, quiz = false

            const checkall = () => {
                console.log(f, l, em, ph, p, cp, quiz)
                if (f && l && ph && em && p && cp && quiz) {
                    if (formInputs[4].value === formInputs[5].value) {
                        if (formInputs[6].value == "105") {
                            formSubmitBtn.disabled = false
                        }
                        else {
                            formSubmitBtn.disabled = true
                        }
                    }
                    else {
                        formSubmitBtn.disabled = true
                    }
                } else {
                    console.log("submit button was disabled")
                    formSubmitBtn.disabled = true
                }
            }

            formInputs[0].addEventListener("keyup", e => {
                console.log('value1 length is ', e.target.value.length)
                if (e.target.value.length > 2) {
                    f = true

                }
                else {
                    f = false
                }
                checkall()
            })

            formInputs[1].addEventListener("keyup", e => {
                console.log('value2 length is ', e.target.value.length)

                if (e.target.value.length > 2) {
                    l = true
                }
                else {
                    l = false
                }
                checkall()
            })

            formInputs[2].addEventListener("keyup", e => {
                console.log('value3 length is ', e.target.value.length)

                if (e.target.value.length > 4) {
                    em = true
                }
                else {
                    em = false
                }
                checkall()
            })

            formInputs[3].addEventListener("keyup", e => {
                console.log('value4 length is ', e.target.value.length)

                if (e.target.value.length > 9) {
                    ph = true
                }
                else {
                    ph = false
                }
                checkall()
            })

            formInputs[4].addEventListener("keyup", e => {
                console.log('value5 length is ', e.target.value.length)

                if (e.target.value.length > 5) {
                    p = true
                }
                else {
                    p = false
                }
                checkall()
            })

            formInputs[5].addEventListener("keyup", e => {
                console.log('value6 length is ', e.target.value.length)

                if (e.target.value.length > 5) {
                    cp = true
                }
                else {
                    cp = false
                }
                checkall()
            })

            formInputs[6].addEventListener("keyup", e => {
                console.log('value7 length is ', e.target.value.length)

                if (e.target.value.length >= 2) {
                    quiz = true
                }
                else {
                    quiz = false
                }
                checkall()
            })


            formSubmitBtn.addEventListener("click", e => {
                form.submit();
            })




        </script>


        </body>

        </html>