<%- include('../layouts/header') %>


    <!-- main in strted from here  -->
    <section class="section">
        <div class="container section-container">

            <div class="header">
                <h1>MADINA PUBLIC SCHOOL </h1>
                <span>Step-1 Create Account Now </span>
            </div>

            <h3> Student Admission </h3>
            <div class="form-area">
                <div class="form-header">
                    <h1 style="margin: 1rem 0px;"> Create new account! </h1>
                    <p>Your questions and feedback are important to us. We welcome your
                        inquiries and look <br> forward to connecting with you as we work together to create an
                        exceptional
                        educational experience.</p>
                </div>

                <form action="#">

                    <div class="form-fields-row flex item-center justify-center">

                        <div class="form-field">
                            <span><i class="fa fa-user"></i></span>
                            <input type="text" name="firstname" id="firstname" placeholder="Frist name " required minlength="4" pattern="[A-Za-z]{30}" title="Please Enter Valid Name"  >
                        </div> 


                        <div class="form-field">
                            <span><i class="fa fa-user"></i></span>
                            <input type="text" name="lastname" id="lastname" placeholder="Last name" required minlength="4" pattern="[A-Za-z]{50}" title="Please Enter Valid Name" >
                        </div> 


                       
                    </div>

                    <div class="form-fields-row flex item-center justify-center">

                        <div class="form-field">
                            <span><i class="fa fa-key"></i></span>
                            <input type="email" name="email" id="email" placeholder="Valid email" required minlength="5" title="Please Enter Valid Email" >
                        </div> 


                        <div class="form-field">
                            <span><i class="fa fa-phone"></i></span>
                            <input type="tel" name="phone" id="phone" placeholder="0333 3333333" required minlength="5" pattern="[0-9]{4} [0-9]{7}" title="Please Enter Valid Phone Number" maxlength="12" >
                        </div> 

                    </div>


                    <div class="form-fields-row flex item-center justify-center">

                        <div class="form-field">
                            <span><i class="fa fa-key"></i></span>
                            <input type="password" name="password" id="password" placeholder="Password" required minlength="6" title="Please Enter Valid password" >
                        </div> 


                        <div class="form-field">
                            <span><i class="fa fa-envelope"></i></span>
                            <input type="password" name="password" id="confirm-password" placeholder="Confirm password" required minlength="6" title="Please Enter Valid password" >
                        </div> 

                    </div>

                    <div class="form-fields-row flex item-center justify-center">

                        <!-- <div class="form-field">
                            <span><i class="fa fa-key"></i></span>
                            <input type="password" name="password" id="password" placeholder="Password" required minlength="6" title="Please Enter Valid password" >
                        </div>  -->

                        <div class="form-field quiz-form" style="width: 100%;">
                            <span>5</span>
                            <span>+</span>
                            <span>10</span>
                            <span>=</span>
                            <input type="number" name="quiznumber" id="quiznumber" placeholder="Enter answer here " required minlength="1" title="Please Enter Valid Answer"  maxlength="3">                        </div> 
                    </div>

                    <button type="button" id="formSubmitBtn" disabled ><i class="fa fa-sign-in"></i> Signup</button>
                </form>
            </div>

        </div>
    </section>
    <!-- main in ended from here  -->
    <%- include('../layouts/footer') %>



        <script src="/assets/js/all.js"></script>


        <!-- typedjs animation library cdn -->
        <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

        <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->


        <script src="/assets/js/main.js"></script>
        </body>

        </html>