<%- include('../layouts/header') %>


    <!-- main in strted from here  -->
    <section class="section">
        <div class="container section-container">

            <div class="header">
                <h1>MADINA PUBLIC SCHOOL </h1>
                <span>Step-1 Create Account Now </span>
            </div>

            <h3> Student Admission </h3>
            <div class="form-area">
                <div class="form-header">
                    <h1 style="margin: 1rem 0px;"> Login to your account </h1>
                    <ul>
                        <li>
                            <p> Please fill all fields with valid credientials and don't leave any field from this other
                                wise the submit button is disabled.</p>
                        </li>

                        <li>
                            <p> And must calculate the 100 + 5 = and type the answer of this is the last field.</p>
                        </li>
                    </ul>
                </div>

                <form action="/api/student/login" id="signup-form" method="post">



                    <div class="form-fields-row flex item-center justify-center">



                        <div class="form-field">
                            <span><i class="fa fa-phone"></i></span>
                            <input type="tel" class="form-input" name="phone" id="phone" placeholder="0333 3333333"
                                required minlength="5" pattern="[0-9]{4} [0-9]{7}"
                                title="Please Enter Valid Phone Number" maxlength="12">
                        </div>


                        <div class="form-field">
                            <span><i class="fa fa-key"></i></span>
                            <input type="password" class="form-input" name="password" id="password"
                                placeholder="Password" required minlength="6" title="Please Enter Valid password">
                        </div>

                    </div>

                    <div class="form-fields-row flex item-center justify-center">

                        <!-- <div class="form-field">
                            <span><i class="fa fa-key"></i></span>
                            <input type="password" name="password" id="password" placeholder="Password" required minlength="6" title="Please Enter Valid password" >
                        </div>  -->

                        <div class="form-field quiz-form" style="width: 100%;">
                            <span id="5">5</span>
                            <span>+</span>
                            <span id="100">100</span>
                            <span>=</span>
                            <input type="number" class="form-input" name="quiznumber" id="quiznumber"
                                placeholder="Enter answer here " required minlength="1" maxlength="3">
                        </div>
                    </div>

                    <button type="button" id="formSubmitBtn" disabled><i class="fa fa-sign-in"></i>
                        Login</button>

                </form>
                <div class="other" style="padding:10px; text-align:center;">
                    <span>Not have an account &nbsp; </span> <a href="/student/create" class="btn">Create now </a>
                </div>
            </div>

        </div>
    </section>
    <!-- main in ended from here  -->
    <%- include('../layouts/footer') %>



        <script src="/assets/js/all.js"></script>


        <!-- typedjs animation library cdn -->
        <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

        <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->


        <script src="/assets/js/main.js"></script>

        <script>

            const form = document.getElementById("signup-form");
            const formSubmitBtn = document.getElementById("formSubmitBtn")
            const formInputs = document.querySelectorAll(".form-input")


            let ph = false, p = false, quiz = false

            const checkall = () => {
                console.log(ph,p,quiz)
                if (ph && p && quiz) {
                    if (formInputs[2].value == "105") {
                        formSubmitBtn.disabled = false
                    }
                    else {
                        formSubmitBtn.disabled = true
                    }

                } else {
                    console.log("submit button was disabled")
                    formSubmitBtn.disabled = true
                }
            }

            formInputs[0].addEventListener("keyup", e => {
                console.log('value1 length is ', e.target.value.length)
                if (e.target.value.length > 5) {
                    ph = true

                }
                else {
                    ph = false
                }
                checkall()
            })

            formInputs[1].addEventListener("keyup", e => {
                console.log('value2 length is ', e.target.value.length)

                if (e.target.value.length > 5) {
                    p = true
                }
                else {
                    p = false
                }
                checkall()
            })
            formInputs[2].addEventListener("keyup", e => {
                console.log('value2 length is ', e.target.value.length)

                if (e.target.value.length > 2) {
                    quiz = true
                }
                else {
                    quiz = false
                }
                checkall()
            })


            formSubmitBtn.addEventListener("click", e => {
                form.submit();
            })




        </script>


        </body>

        </html>