<%- include('../../layouts/dashboardHeader') %>


<!-- main in strted from here  -->
<section class="section">
  <div class="container section-container">
    <h2>Edit</h2>
    <h1>Edit Your Previus School Information  </h1>
  </div>
</section>
<!-- main in ended from here  -->
<%- include('../../layouts/footer') %>



<script src="/assets/js/all.js"></script>


<!-- typedjs animation library cdn -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->


<script src="/assets/js/main.js"></script>

</body>

</html>