<%- include('../../../layouts/dashboardHeader') %>


<!-- main in strted from here  -->
<section class="section">
  <div class="container section-container">
    <div class="container section-container user-profile-container">

      <div class="header">
        <h1>GHAZNA PUBLIC SCHOOL </h1>
        <span>Step-1 Student Personal Information </span>
      </div>

      <h3> Student Addmission </h3>
      <div class="form-area">
        <div class="form-header">
          <h1 style="margin: 1rem 0px;"> Add Legal Information </h1>
        </div>


        <form action="/api/student/pdata/" method="post" id="signup-form" enctype="multipart/form-data">



          <!-- image selection and preview  -->
          <input type="file" name="image" id="usrimageinput" accept="image/*" required style="opacity:-3333;">
          <div class="form-fields-row flex item-center" style="justify-content: space-around;">

            <span id="userImageUploadMsg" style="color:red ;">Select Profile Image* </span>

            <div class="uploadPicblock flex item-center justify-center flex-col" id="uploadPicBlock">
              <span><i class="fa fa-upload"></i></span>
              <p style="padding: 5px; text-align:center">Select Student Image </p>
            </div>
          </div>




          <!-- other fields  -->

          <div class="form-fields-row flex item-center justify-center">

            <div class="form-field">
              <span><i class="fa fa-user"></i></span>
              <input type="text" name="fullname" id="name" placeholder="fullname eg: hasnain khan" required class="form-input">
            </div>
            
            
            <div class="form-field">
              <span><i class="fa fa-user"></i></span>
              <input type="text" name="fathername" id="father" placeholder="Father name " required class="form-input">
            </div>

          </div>




          <div class="form-fields-row flex item-center justify-center">

            <div class="form-field">
              <span><i class="fa fa-user"></i></span>
              <select name="gender" id="gender" required>
                <option disabled selected>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>

            <div class="form-field">
              <span><i class="fa fa-user"></i></span>
              <select name="martial_status" id="mstatus" required>
                <option disabled selected>Martial Status</option>
                <option value="unmarried">Unmarried</option>
                <option value="married">Married</option>
              </select>
            </div>

          </div>




          <div class="form-fields-row flex item-center justify-center">

            <div class="form-field">
              <span><i class="fa fa-book"></i></span>
              <select name="religon" id="religon" required>
                <option disabled selected>Religion</option>
                <option value="islam">Islam</option>
                <option value="hindu">Hindu</option>
                <option value="christian">Chris</option>
              </select>
            </div>

            <div class="form-field">
              <span><i class="fa fa-thermometer"></i></span>
              <select name="blood_group" id="bloodgroup" required>
                <option disabled selected>Blood Group </option>
                <option value="a+">A <sup>+</sub></option>
                <option value="b+">B <sup>+</sub></option>
                <option value="a-">A <sup>+</sub></option>
              </select>
            </div>

           

          </div>




          <div class="form-fields-row flex item-center justify-center">


            <div class="form-field">
              <span><i class="fa fa-flag"></i></span>
              <input type="number" name="student_cnic" id="cnic" placeholder="From-B eg:22222-2222222-2" required maxlength="12" class="form-input">
            </div>

            <div class="form-field">
              <span><i class="fa fa-flag"></i></span>
              <input type="number" name="father_cnic" id="fathercnic" class="form-input" placeholder="Father Cnic 2120221212211*" maxlength="15" min="8" required>
            </div>

          </div>



          <div class="form-fields-row flex item-center justify-center">


            <div class="form-field">
              <span><i class="fa fa-flag"></i></span>
              <input type="date" name="dob" id="dob" placeholder="Date of birth *" required>
            </div>
      


            <div class="form-field">
              <span><i class="fa fa-flag"></i></span>
              <input type="text" name="vallage_name" id="village" placeholder="Vilage name* " maxlength="15" required class="form-input">
            </div>

          </div>





          <div class="form-fields-row flex item-center justify-center">
            <div class="form-field quiz-form">
              <span id="5"><i class="fa fa-flag"></i></span>
              <input type="text" class="form-input" name="parmanent_address" id="paddresss" placeholder="Full Address* " required>
            </div>
          </div>
          <div class="form-fields-row flex item-center justify-center">
            <div class="form-field quiz-form">
              <span id="5">5</span>
              <span>+</span>
              <span id="100">100</span>
              <span>=</span>
              <input type="number" class="form-input" name="quiznumber" id="quiznumber" placeholder="Enter answer here *" required minlength="1" maxlength="3">
            </div>
          </div>



          <button type="submit" id="formSubmitBtn" disabled><i class="fa fa-sign-in"></i>
            Next</button>

        </form>
        <div class="other flex item-center justify-around" style="padding:10px; text-align:center;">
          <a href="/teacher/create" class="btn">Back to Signup </a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- main in ended from here  -->
<%- include('../../../layouts/footer') %>



<script src="/assets/js/all.js"></script>


<!-- typedjs animation library cdn -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->


<script src="/assets/js/main.js"></script>


<script>

  const form = document.getElementById("signup-form");
  const formSubmitBtn = document.getElementById("formSubmitBtn")
  const formInputs = document.querySelectorAll(".form-input")


  const uploadPicBlock = document.getElementById("uploadPicBlock");
  const usrimageinput = document.getElementById("usrimageinput");
  const formimageinputSpan = document.getElementById("userImageUploadMsg")


  // for inputs 
  let fln=false,fn=false,sid=false,sfid=false,vn=false,fad=false,quiz=false



  // to check if input is not valid 
  const checkall = () => {
      // console.log(fc, fp, vn, pa, quiz)
      if (usrimageinput.files.length < 1) {
          formSubmitBtn.disabled = true
          formimageinputSpan.innerText = "Image Upload Is Required"
          uploadPicBlock.style.boxShadow = "0px 0px 29px red"
          uploadPicBlock.classList.add("animate")
      }
      else {
          uploadPicBlock.style.boxShadow = "0px 0px 5px #706d6db8"
          uploadPicBlock.classList.remove("animate")
          formimageinputSpan.innerText = usrimageinput.files[0].name
          console.log(fln,fn,sid,sfid,vn,fad,quiz)
          if (fln && fn && sid && sfid && vn && fad && quiz) {
              if (formInputs[6].value == "105") {
                  formSubmitBtn.disabled = false
              }
              else {
                  formSubmitBtn.disabled = true
              }
          }
          else {
              // console.log("submit button was disabled")
              formSubmitBtn.disabled = true
          }
      }
  }




  uploadPicBlock.addEventListener("click", e => {
     // uploadPicBlock.innerHTML = ""
      usrimageinput.click()
      //uploadPicBlock.classList.remove("animate")
  })
 usrimageinput.addEventListener("change", e => {
      uploadPicBlock.innerHTML = "<span> <i class='fa fa-upload'> </i> </span> <p style='text-align:center; padding:5px;'>Select Student Image </p> "
      if (e.target.files.length < 1) {
          usrimageinput.click()
      }
      else {
          const fakeUrl = URL.createObjectURL(e.target.files[0]);
          uploadPicBlock.innerHTML = `<img src="${fakeUrl}" />`
          formimageinputSpan.innerText = usrimageinput.files[0].name
          // console.log(e.target.files[0])
          // console.log(e.target.name)
          checkall()

      }
  })








  formInputs[0].addEventListener("keyup", e => {
      // console.log('value1 length is ', e.target.value.length)
      e.target.value.length > 5 ? fln= true:fln= false
      checkall()
  })

  formInputs[1].addEventListener("keyup", e => {
      // console.log('value2 length is ', e.target.value.length)
      e.target.value.length > 5 ? fn= true:fn= false
      checkall()
  })
  formInputs[2].addEventListener("keyup", e => {
      // console.log('value2 length is ', e.target.value.length)
      e.target.value.length > 13 ? sid = true : sid = false
      checkall()
  })
  formInputs[3].addEventListener("keyup", e => {
      // console.log('value2 length is ', e.target.value.length)
      e.target.value.length > 13 ? sfid = true : sfid = false
      checkall()
  })
  formInputs[4].addEventListener("keyup", e => {
      // console.log('value2 length is ', e.target.value.length)
      e.target.value.length > 2 ? vn = true :vn = false
      checkall()
  })
  formInputs[5].addEventListener("keyup", e => {
      // console.log('value2 length is ', e.target.value.length)
      e.target.value.length > 5 ?  fad= true :fad = false
      checkall()
  })
  formInputs[6].addEventListener("keyup", e => {
      // console.log('value2 length is ', e.target.value.length)
      e.target.value.length > 2 ?  quiz= true :quiz = false
      checkall()
  })


/*         form.addEventListener("submit", e=>{
      e.preventDefault();
      console.log(e.target)
  })
*/ 


</script>


</body>

</html>